{% extends 'layout/base.html.twig' %}
{% block title %}Create Event{% endblock %}


{% block body %}
<div class="content-form">
    <h1>Création d'un évènement </h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('app_event_index') }}">back to list</a>
</div>
{% endblock %}
