<!DOCTYPE html>

<title>New OptionDateEvent</title>

{% block body %}
    <h1>Create new OptionDateEvent</h1>

    {{ include('option_date_event/_form.html.twig') }}

    <a href="{{ path('app_option_date_event_index') }}">back to list</a>
{% endblock %}
