.login-form {
    width: 400px;
    margin: auto;
    margin-top: 200px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 50px;
}
.valide {
    background: orange;
}
.h3 {
    color: #f16e00 !important;
}
nav {
    background-color: #000 !important;
}

.s-logo{
    margin-left: 20px;
    color: white !important;
}
.container-fluid {
    display: contents !important;
}
.nav-link{
    color: #FFFFFF !important;
}
.active {
    color : #ff7900 !important;
}
a:hover{
    color : #ff7900 !important;
}
.nav-item {
    font-size: 1rem;
}
.content-form {

    margin: 100px;
}