<nav class="navbar navbar-dark navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/event/">
            <div class="d-inline-flex align-items-baseline">
                <img id="obs" src={{ asset('assets/images/orange-logo.svg')}} width="50" height="50" alt="" aria-hidden="true" loading="lazy">
                <span class="h5 ms-2 mb-0 align-self-end s-logo">
                <span class="visually-hidden">Orange </span>
                    Business<br>Services
                </span>
            </div>
        </a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link {% if '/event/' in path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) and path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) != '/event/eventTo'   %}active{% endif %}" aria-current="page" href="/event/">Your Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/event/eventTo' == path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))  %}active{% endif %}" href="/event/eventTo/">Event to vote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/group/mail' in path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params'))  %}active{% endif %}" href="/group/mail/"> Groupe Emails</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Historique</a>
                </li>

            </ul>
        </div>
    </div>
</nav>